{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}
{% block stylesheets %}
<style>
div < {
    background-color: #CCC;
}
h3{
    color: darkblue;
}
</style>
{% endblock %}
{% block body %}
    {% for article in articles %}
    <div>   
    <h1> {{article.Title}} </h1>
    <h3> {{article.Auteur}} </h3>
    <p> {{article.Date |date('d-m-Y') }} </p>
    </div>
    {% endfor %}
{% endblock %}